<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.angrypig.dao.UserMapper">  <!--这里的命名空间对应Mapper接口-->

    <!--查询所有用户-->
    <select id="getAllUsers" resultType="user">
        select * from t_user;
    </select>

    <!--插入用户-->
    <insert id="insertUser" >
        insert into t_user values (null,#{username},#{password},#{email});
    </insert>

</mapper>